* {
    margin: 0;
    padding: 0;
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
h3 a {
    font-family: 'Staatliches', sans-serif;
    margin: 0 0 10px 0;
}

a,
p,
blockquote,
li {
    font-family: 'Roboto', sans-serif;
}

ul {
    text-align: left;
    list-style-position: inside;
}
ul li {
    text-align: left;
    padding: 5px 0;
}

blockquote {
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
    margin: 40px;
    border-left: 2px solid #000;
    text-align: left;
}

a {
    color: #126faa;
    font-weight: 400;
    text-decoration: none;
    position: relative;
}
a:hover {
    color: #1292db;
}
a:active {
    top: 2px;
}

h2 {
    font-size: 2em;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 70px 0;
    text-align: center;
}

.logo {
    width: 250px;
    height: 250px;
    flex: 0 0 auto;
    margin: 20px 0 0 0;
}

.social {
    display: flex;
    justify-content: center;
}

.social img {
    position: relative;
    top: 0;
    height: 50px;
    padding: 20px;
    transition: padding 500ms, top 200ms;
}

.social img:hover {
    top: -3px;
}

.videos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.columns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.columns blockquote {
    width: 50%;
}

.columns > div {
    width: 50%;
    padding: 50px;
}

.columns > div > * {
    text-align: left;
}

#dates p {
    padding: 10px;
}


.videos .video {
    width: 400px;
    height: 220px;
    margin: 10px;
    transition: all 500ms;
}

footer {
    background-color: #ededed;
    padding: 20px;
    text-align: center;
}

@media all and (max-width: 839px) {
    .social img {
        padding: 20px 5px;
    }

    .columns {
        flex-wrap: wrap;
    }

    .columns blockquote {
        width: 100%;
        margin: 10px 40px;
    }

    .columns > div {
        width: 100%;
        padding: 20px 50px;
    }
}

@media all and (min-width: 1600px) {
    .columns {
        padding: 0 20%;
    }
}
